[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adehabitatHR"]
	path = adehabitatHR
	url = https://github.com/clementcalenge/adehabitathr
[submodule "adehabitatHS"]
	path = adehabitatHS
	url = https://github.com/clementcalenge/adehabitaths
[submodule "adehabitatLT"]
	path = adehabitatLT
	url = https://github.com/clementcalenge/adehabitatlt
[submodule "adehabitatMA"]
	path = adehabitatMA
	url = https://github.com/clementcalenge/adehabitatma
